 .App h1{
  text-align: center;
  font-size: 3rem;
}

.App nav{
  text-align: center;
  text-decoration: none;
  color:darkgoldenrod;
}

.App nav a{
  text-align: center;
  text-decoration: none;
  color:black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.App nav a:hover{
  font-size: 2rem;
}